.aero-banner {
    background-image: url('../../assets/electronics/electronics-banner.JPG');
  }

.middle-banner {
  border-top: solid 2px #f1b82d;
  background-image: url('../../assets/electronics/high-voltage-banner.jpg');
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.second-container {
  margin-top: 0;
}

.aero-text-two {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1; 
  line-height: 90px;
  height: 600px;
  top: 0;
  text-align: center;
  width: 100%;
  margin-top: calc(600px/2);
  z-index: -1;
}

@media (max-width: 768px) {
  .aero-text-two {
      font-size: 2rem;
  }
}