<app-navbar></app-navbar>

<div class="aero-banner">
    <div class="aero-text">
      <h1>Electronics</h1>
    </div>
</div>

<div class="aero-card-container">
    <div class="aero-card">
      <h3>What We Do...</h3>
      <p>
        Our electronics team is responsible for the design and implementation of all the electronics and wiring in the car.
        We assemble our entire wiring harness from scratch to connect our MoTec M150, custom power distribution unit, datalogger, 
        electronic throttle, digital dash, and other electronic components. The team makes various custom PCBs and firmware 
        packages to help us gain a competitive advantage through electronics.
      </p>
    </div>
</div>


<div class="grid-background">
  <div class="aero-image-grid">
    <img src="../../assets/electronics/electronics1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/brakes-and-controls/brakes4.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/electronics/electronics3.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/electronics/electronics4.JPG" alt="Aerodynamics work 4">
  </div>
</div>

<div class="middle-banner">
  <div class="aero-text-two">
    <h1>High Voltage</h1>
  </div>
</div>

<div class="aero-card-container second-container">
  <div class="aero-card aero-card-two">
    <h3>What We Do...</h3>
    <p>
      Our high voltage team is responsible for the design and implementation of 
      all electronic modules and wiring in the EV. We integrate numerous custom 
      printed circuit board modules, a battery management system, traction inverter, 
      Emrax 228 axial flux motor, ECU, and more to produce a cohesive system and 
      competitive race car.
    </p>
  </div>
</div>

<div class="grid-background">
  <div class="aero-image-grid aero-image-grid-two">
    <img src="../../assets/electronics/high-voltage1.jpg" alt="Aerodynamics work 1">
    <img src="../../assets/electronics/high-voltage2.jpg" alt="Aerodynamics work 2">
    <img src="../../assets/electronics/high-voltage-banner.jpg" alt="Aerodynamics work 3">
    <img src="../../assets/electronics/high-voltage4.jpg" alt="Aerodynamics work 4">
  </div>
</div>

<div class="subteam-lead-card-container">
    <div class="subteam-lead-card">
      <h3>Sub Team Lead: Jack Fels</h3>
      <div class="subteam-lead-content">
        <div class="subteam-lead-image">
          <img src="../../assets/electronics/Jack.JPG" alt="Team Leader">
        </div>
        <div class="subteam-lead-text">
          <p>
            Jack is a junior electrical engineering student and Cheif Electrical Engineer for Mizzou Racing. 
            He joined the team in the fall of 2022 and is a key member in the IC and EV builds. Jacks goals for 
            the season are:
        </p>
        </div>
      </div>
    </div>
</div>

<div class="quote-container">
  <h1>“It’s probably a mechanical issue.”</h1>
  <h1>- Jack Fels</h1>
</div>


<app-footer></app-footer>
  
  
  
  
  