.meet-the-team-banner {
  width: 100%;
  height: 600px;
  background-image: url('../../assets/meet-the-team/team-banner.JPG');
  background-size: cover;
  background-position: center;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  top: 120px;
}

.meet-the-team-text {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
  line-height: 90px;
}

.meet-the-team-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.team-section {
  border-top: solid 2px #F1B82D;
  border-bottom: solid 2px rgb(62, 62, 62);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #202020;
  color: #fff;
  margin-top: 600px;
}
.team-image {
  opacity: 0;
  flex: 1;
  padding-right: 20px;
}

.team-image img {
  width: 100%;
  border: solid 2px #F1B82D;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-text {
  opacity: 0;
  flex: 1;
  padding-left: 20px;
}

.team-text h2 {
  font-size: 2rem;
  color: #F1B82D;
  margin-bottom: 15px;
}

.team-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .team-section {
      flex-direction: column;
  }

  .team-image, .team-text {
      padding: 0;
  }

  .team-image {
      margin-bottom: 20px;
  }
}

.team-cards-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 75px 20px;
  background: rgb(15, 15, 15);
}

.team-card {
  opacity: 0;
  display: flex;
  background-color: #202020;
  border: 2px solid white;
  box-shadow: 5px 5px #ad8622;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}

.team-card-image {
  flex: 0 0 35%;
  max-width: 400px;
  padding-right: 20px;
}

.team-card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: solid 2px #0c0c0c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-card-content h3 {
  font-size: 1.8rem;
  color: #F1B82D;
  margin-bottom: 10px;
}

.team-card-content p {
  font-size: 1.2rem;
  color: #e0e0e0;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .team-card {
      flex-direction: column;
      text-align: center;
      max-width: 100%;
  }

  .team-card-image {
      padding-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
  }

  .team-card-content h3 {
      font-size: 1.6rem;
  }

  .team-card-content p {
      font-size: 1rem;
  }
}
