* {
    font-family: "Oswald", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0);
    height:  100%;
}

/* Sub Team Stylings */
.aero-banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-bottom: solid 2px #F1B82D;
    z-index: -2;
    top: 0;
  }
  
  .aero-text {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1; 
    line-height: 90px;
    height: 600px;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    margin-top: calc(600px/2);
    z-index: -1;
  }
  
  .aero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -2;
  }

  .aero-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(15, 15, 15);
    padding: 100px 0px;
    margin-top: 600px;
    border-top: solid 2px #F1B82D;
    overflow-x: hidden;
  }
  
  .aero-card {
    opacity: 0;
    width: 80%;
    background-color: #202020;
    border: solid 2px white;
    padding: 40px 30px;
    color: #e0e0e0;
    text-align: center;
    box-shadow: 5px 5px #ad8622;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .aero-card h3 {
    font-size: 1.8rem;
    color: #F1B82D;
    margin-bottom: 20px;
  }
  
  .aero-card p {
    margin: 0;
    padding: 0;
  }

  .grid-background {
    background: rgb(15, 15, 15);
    width: 100%;
    overflow-x: hidden;
  }

  .aero-image-grid {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    background: rgb(15, 15, 15);
  }
  
  .aero-image-grid img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }

  .quote-container {
    text-align: center;
    color: rgb(201, 201, 201);
    padding: 100px;
    background: rgb(15, 15, 15);
  }

  .quote-container p {
    font-size: 1.7rem;
  }
  
  /* Adjust for smaller screens */
  @media (max-width: 768px) {
    .aero-image-grid {
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    .aero-image-grid img {
      height: 200px;
    }
  }

  .subteam-lead-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
    background: rgb(15, 15, 15);
  }
  
  .subteam-lead-card {
    opacity: 0;
    width: 80%;
    background-color: #202020;
    border: solid 2px white;
    padding: 40px 30px;
    color: #e0e0e0;
    text-align: center;
    box-shadow: 5px 5px #ad8622;
  }
  
  .subteam-lead-card h3 {
    font-size: 1.8rem;
    text-align: left;
    color: #F1B82D;
    margin-bottom: 20px;
  }
  
  .subteam-lead-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subteam-lead-image {
    flex: 1;
    max-width: 500px;
    padding-right: 20px;
  }
  
  .subteam-lead-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .subteam-lead-text {
    flex: 2;
    padding-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subteam-lead-text p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .subteam-lead-content {
      flex-direction: column;
    }
  
    .subteam-lead-image {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .subteam-lead-text {
      padding-left: 0;
    }

    .aero-text {
        font-size: 2rem;
    }
  }
  
  
  
  
  
  